body {
    font-family: 'Inika', serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #f7b700;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7b700;
    text-align: center;
}

.intro {
    width: 60%;
    text-align: center;
    font-size: 24px;
}

.intro h1 {
    color: #000000;
    font-size: 36px;
}

.intro h2 {
    font-size: 32px;
    text-align: center;
}

.profile-pic img {
    width: 300px;
    border-radius: 5%;
}

.contact-container {
    font-family: 'Inika', serif;
    background-color: #eeeeee; 
    border: 1px solid #e2e2e2;   
    margin-top: 20px;          
    border-radius: 5px;     
    width: 100%;             
    text-align: center;     
}

.contact-container h2 {
    color: #f7b700;          
    margin-bottom: 15px;     
}

.contact-container p {
    margin: 10px 0;            /* Margin for each paragraph */
}